/notes-node/node_modules
/notes-node/playground
/notes-node/notes-data.json
/terminal-kit/node_modules
/weather-app/node_modules
/weather-app/playground
/weather-app/key.js
/web-server/node_modules
/web-server/server.log
/deploy.sh
